
/* Socially Outward Universal Styles */

body{
    background-color: white;
    font-family: Arial, sans-serif;
}

.container{
    padding: 0;
    margin: 0;
}

#content{
    margin-top: 80px;
    padding-left: 70px;
}

a:active,a:focus {
    outline: none;
}

.item {
    width: 200px;

.modal-dialog{
    left: 0;
}